 <div ng-if="user" id="content-box" class = "jumbotron" ng-if="logged">
    
    <div class = "container">
        <h1>Welcome to Dating 123</h1>
        <p>This is an example.</p>
        
        <p>
            <a class="btn btn-primary btn-lg btn-custom" href="#" role="button"><i class="fa fa-facebook"></i>sign up via facebook</a>
            <a class="btn color-3 btn-primary btn-lg btn-custom"  role="button" data-toggle="modal" data-target="#loginModal"><i class="fa fa-lock"></i>sign up now</a>
        </p>
    </div>
    
    </div>



<div id="content-box">      
<div class="container-fluid custom-container">
<div class="row">
			<!--LEFT PANEL -->
			<div class="col-md-2">

                <div class="panel panel-primary">
				<div class="panel-heading">Filter by: </div>
                
                    <div class="list-group">
                    
                    <a href="#gender" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">Gender</a>
                        <div class="collapse list-group-submenu" id="gender">
                            <a href="#" class="list-group-item"><input type="checkbox"> Male </a>
                            <a href="#" class="list-group-item"><input type="checkbox"> Female </a>
                            <a href="#" class="list-group-item"><input type="checkbox"> Any </a>
                        </div>
            
                    <a href="#city" class="list-group-item" data-toggle="collapse">City</a>
                        <div class="collapse list-group-submenu" id="city">
                            <a href="#" class="list-group-item"><input type="checkbox"> New Jersey </a>
                            <a href="#" class="list-group-item"><input type="checkbox"> New York </a>
                            <a href="#" class="list-group-item"><input type="checkbox"> Pensylvania </a>
                            <a href="#" class="list-group-item"><input type="checkbox"> Conneticut </a>
                        </div>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    </div>
			</div>

			<div class="menu-left">
			<h3 class="menu-title">
			Popular Creative Filds
			</h3>
			<div class="list-group">
			
			<a href="#" data-filter=".category-1" class="list-group-item">Graphic Design </a>
			<a href="#" data-filter=".category-2" class="list-group-item">Photography </a>
			<a href="#" data-filter=".category-3" class="list-group-item">Interaction Design </a>
			<a href="#" data-filter=".category-4" class="list-group-item">Art Direction </a>
			<a href="#" data-filter=".category-5" class="list-group-item">Illustration </a>
			
			</div>
			</div>
			<div class="menu-left">
			<h3 class="menu-title">
			Popular Tags
			</h3>
			<div class="tags_block clearfix">
			<ul>
			<li><a data-filter=".category-6" class="filter">Movie</a></li>
			<li><a data-filter=".category-1" class="filter">Music</a></li>
			<li><a data-filter=".category-2" class="filter">Club</a></li>
			<li><a data-filter=".category-3" class="filter">Professional</a></li>
			<li><a data-filter=".category-4" class="filter">logo</a></li>
			<li><a data-filter=".category-5" class="filter">identity</a></li>
			<li><a data-filter=".category-6" class="filter">logo design</a></li>
			<li><a data-filter=".category-1" class="filter">interactive</a></li>
			<li><a data-filter=".category-2" class="filter">Introvert</a></li>
			<li><a data-filter=".category-3" class="filter">Anime</a></li>
			</ul>
			</div>
			</div>
			
			</div>
		
					
				<!--RIGTH PANEL -->
				
    <div class="col-md-10">
        <div class="row">
            <!-- PERSON BOX -->
            <div class=" user-column col-lg-3 col-md-4 col-xs-12 "  ng-repeat="person in users track by $index">
                <div class="user-box style-2">
                <a class="ava-user style-2" href="#">
                <img ng-click="setUser($index)" src="{{ person.photo }}" alt=""/>
                </a>
                    <div class="user-counter">

                    <div class="c_text">{{person.city}}</div>
                    </div>
                <a href="#" class="user-name" data-toggle="modal" data-target="#userModal">{{person.name}}</a>
                
                    <div class="text-tags">
                    <a href="#" ng-repeat="hobbie in person.hobbies track by $index">{{hobbie}},</a>
                    
                    </div>
                <div class="info-box">
                <span><i class="fa fa-thumbs-o-up"></i> {{person.likes}}</span>
                <span><i class="fa fa-eye"></i> 789</span>
                </div>
                <a class="btn btn-primary">Follow</a>

                </div>
            </div>
        <!-- END PERSON BOX -->

        </div>
    </div>


</div>
</div>   

    <div class="footer">
      <div class="container">
						FOOTER
      </div>
    </div>
</div>